$blue: #00aaf3;

.jumbotron {
    background-color: #00aaf3;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: #00aaf3;
    margin-bottom: 10px;
    margin-top: 10px;

}
.card-hotel {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
    
}
.btn-reverse {
    width: 100%;
    border-radius: 0%;
   
}

.btn-reverse-add{
    margin: 2px 6px;
}

.carousel-item {
    width: 100%;
    height: 500px;
}

.card-img-top {
    width: 100%;
    height: 180px;
}
.tab-content {
    padding-top: 10px;
}
a {
    color: aliceblue;
}

i{
    color: aliceblue;
}
h1 .title{
    color: aliceblue; 
}
 .breadcrumb {
    color: #4897D8;
}


